.formContainer {
    width: 20%;
    margin-left: 15%;
    margin-right: 5%;
    display: inline-block;
    vertical-align: top;
}
.title {
    font-size: 2em;
    color: rgb(18, 81, 148);
    margin-bottom: 50px;
}
.continueButton {
    margin-top: 40px;
    margin-bottom: 40px;
}